OWNCLOUD_VERSION=10.13
OWNCLOUD_DOMAIN=localhost:8080
OWNCLOUD_TRUSTED_DOMAINS=192.168.1.11, cloud.xxx.com
ADMIN_USERNAME=xxxxx
ADMIN_PASSWORD=xxxx
HTTP_PORT=8080

TELEGRAM_API_KEY="xxxx"
TELEGRAM_ALLOWED_CHAT=1234567890
TELEGRAM_NOTIFY_NAME="name"

TRUSTED_PROXY="192.168.1.11"
